<div class="d-flex align-items-center justify-content-between">
    <h1>Tweets </h1>
    
    <% if Current.user.twitter_account.any? %>
        <%= button_to "Schedule a Tweet", new_tweet_path, method: :get, class: "btn btn-primary" %>
    <% end %>
</div>

    <% if Current.user.twitter_account.none? %>
        <%= button_to "Connect your twitter account", "/auth/twitter", method: :post, class: "btn btn-primary" %>
    <% end %>

<%= render @tweets %>